<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/users" method="post" enctype="multipart/form-data">
      <label>
        用户名:
        <input type="text" name="username" id="username" />
      </label>
      <br />
      <label>
        密 码:
        <input type="text" name="password" id="password" />
      </label>
      <br />
      <label>
        年 龄:
        <input type="number" name="age" id="age" />
      </label>
      <br />
      <label>
        头像:
        <input type="file" name="avatar" id="avatar" />
      </label>
      <br />
      <div>
        <button type="submit" id="loginBtn">添加用户</button>
      </div>
    </form>
  </body>
</html>
